extends templates/layout

block main
  include html__modules/breadcrumbs.html
  include html__modules/fix-display-by-brend.html
  include html__modules/banner.html
  include html__modules/shem.html
  include html__modules/pop-services.html
  include html__modules/phones.html
  include html__modules/main-article.html