<!DOCTYPE html>
html(lang="Ru-ru")
  head
    include ../html__modules/main__modules/head.html
  body
    include ../html__modules/main__modules/intro.html
    .wrapper     
      include ../html__modules/main__modules/header.html
      .main
        block main
      include ../html__modules/main__modules/footer.html
    include ../html__modules/popup--confirm.html
    include ../html__modules/main__modules/scripts.html